.header__wrapper {
    margin: 0 275px;
    max-width: 1422px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 72px;
}

.logo {
    width: 80px;
    height: 23px;
}

.header__nav {
    color: var(--color-black);
    padding: 30px 0;
    display: flex;
    column-gap: 72px;
}

.header__nav-item {
    font-size: 20px;
    font-weight: 500;
}
.header__nav-item:hover {
    color: var(--color-green);
}
